html, body {
    margin: 0;
    color: #4c5764;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}

#section1 {
  position: relative;
  height: 100vh;
  background: #F4EBD9;
  background-image: url("sunset.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 65% 0%;
  z-index: 1;
}

#section1overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.5)
}

#navmodal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  border-radius: 20px;
  background-color: white;
  text-align: left;
  font-size: 20px;
  line-height: 45px;

}
#navmodal input {
  height: 20px;
}


#navbar{
    overflow: hidden;
}

#navbar button {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: none;
}

#navbar button:hover{
  cursor: pointer;
}

#navbar-right {
  padding: 20px 50px;
  float: right;
}


#lgtb {
  width: auto;
  margin: 10vh auto 0vh auto;
  text-align: center;
  color: blue;
  font-size: 100px;
  line-height: 150px;
}

#bread {
  position: relative;
  width: auto;
  margin-top: 30px;
  text-align: center;
}

#bread img {
  height: 300px;
  width: auto;
}


#section2 {
  position: relative;
  height: 100vh;
  background-color: #002FA7;
  z-index: 1;

}

#section2 #header {
  position: relative;
  width: auto;
  font-size: 65px;
  text-align: center;
  padding-top: 5vh;
  color: white;
}

#section2 #content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  height: auto;
  width: 85vw;
  color: white;
  margin: 30px auto;
  font-size: 22px;
}

#section2 #content p {
  font-size: 22px;
}

#section2 #leftside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 55px;
}

#section2 #rightside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 60px;

}


#section3 {
  position: relative;
  height: 100vh;
  background-color: white;
  z-index: 1;
  padding-top: 80px;
}

#section3 #header {
  position: relative;
  width: auto;
  font-size: 65px;
  text-align: center;
  color: #002FA7;
}

#carousel {
  margin: 0px 7vw;
}

#carouselbox {
  margin-top: 10vh;
}

#carousel .profile {
  text-align: center;
  padding: 20px 80px;
}

#carousel img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.profile h4, .profile p {
  display: none;
}


.slick-prev:before,
.slick-next:before {
    color: black;
}


.slick-center img{
  width: 50%;
  height: auto;
}

.slick-center h4 {
  font-size: 20px;
  display: block;
}

.slick-center h2 {
  font-size: 30px;
  display: block;
}

.slick-center p {
  display: block;
}

.slick-slide {
  text-align: center;
}


#buttonwrapper {
  display: absolute;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}
#joinus {
  padding: 10px 20px;
  font-size: 25px;
  color: white;
  background-color: #002FA7;
  border-radius: 7px;
  border: none;
  outline: none;
}

#joinus:hover {
  cursor: pointer;
}

